<!DOCTYPE html>
<html>


{% extends "layout.html" %}
{% block content %}
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


        <title> Autopost Service </title>
    </head>


        <article class="media content-section article-metadata">
            <div class=".table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="td_date" scope="col"> Date posted </th>
                        <th class="td_title" scope="col"> Title </th>
                        <th class="td_content" scope="col"> Content </th>
                        <th class="td_tags" scope="col"> Tags </th>
                        <th class="td_alr" scope="col"> Alr posted </th>
                        <th class="td_change" scope="col"> Change </th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts.items %}
                        <tr>
                            <th class="td_date" scope="row"><small>{{ post.date_posted }}</small></th>
                            <td class="td_title">{{ post.title }}</td>
                            <td class="td_content">{{ post.content }}</td>
                            <td class="td_tags">{{ post.tags }}</td>
                            <td class="td_alr">{{ post.already_posted }}</td>
                            <td class="test_inl td_change">
                                <a href="#" role="button" class="btn btn-outline-danger btn-sm ">Delete</a>
                                <a href="#" role="button" class="btn btn-outline-info btn-sm ">Edit</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </article>

    {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page = page_num) }}" >{{ page_num }}</a>
            {% else %}
                <a class="btn btn_outline-info mb-4" href="{{ url_for('home', page = page_num) }}" >{{ page_num }}</a>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}

{% endblock content %}
</html>
